[Unit]
Description=LastControl Service

[Service]
User=root
Group=root
ExecStart=/usr/local/lastcontrol/create-report.sh
Restart=always
RestartSec=3hour

[Install]
WantedBy=multi-user.target
