[Unit]
Description=Run LastControl SecurityData Update Daily Service

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
